.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.badges {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.badge {
    width: fit-content;
    background-color: var(--color-border);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px 8px;
    cursor: pointer;
}

.activeBadge {
    background-color: var(--color-brand);
    color: var(--color-black);
}