.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 500px;
    height: fit-content;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    color: var(--color-light-gray);
    margin-top: 10px;
}

.spacer {
    margin-top: 40px;
}