.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 650px;
  height: fit-content;
  background-color: var(--color-card);
  padding: 75px;
  box-sizing: border-box;
  border-radius: 20px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  color: var(--color-light-gray);
  margin-top: 10px;
}

@media (max-width: 800px) {
  .box {
    width: 90%;
    padding: 50px 30px;
  }
}
