.table {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #111;
}

.table th,
.table td {
  padding: 5px 10px;
  box-sizing: border-box;
}

.table th {
  text-align: left;
}

.table td {
  color: var(--color-light-gray);
}
