.points {
    width: fit-content;
    margin: 15px auto 0 auto;
    border: 1px solid var(--color-brand);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--color-brand);
    font-weight: 600;
}

.spacer {
    margin-top: 40px;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    transition: border-color .1s;
}

.cardSelection {
    cursor: pointer;
}

.cardSelection:hover {
    border-color: var(--color-brand);
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.selectionSuccess {
    font-size: 20px;
    text-align: center;
    color: var(--color-brand);
}

.selectionError {
    font-size: 20px;
    text-align: center;
    color: var(--color-red);
}