.pointsRow {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 15px auto 0 auto;
}

.pointsRow > div {
    display: flex;
    align-items: center;
}

.points {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid var(--color-brand);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--color-brand);
    font-weight: 600;
}

.selectionSuccess {
    color: var(--color-brand);
}

.selectionError {
    color: var(--color-red);
}

.spacer {
    margin-top: 40px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardLyrics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.cardLyrics > div:nth-child(1),
.cardLyrics > div:nth-child(3) {
    color: var(--color-gray);
    filter: blur(5px);
    transition: filter .3s;
}

.cardLyrics:hover > div:nth-child(1),
.cardLyrics:hover > div:nth-child(3) {
    filter: unset;
}

.cardLyrics > div:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
}

.info {
    text-align: center;
    font-size: 12px;
    color: var(--color-gray);
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.info > i {
    font-size: 10px;
}

.cardSelection {
    cursor: pointer;
    padding: 15px 25px;
    transition: border-color .1s;
    text-align: center;
}

.cardSelection:hover {
    border-color: var(--color-brand);
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.loading {
    color: var(--color-light-gray);
    text-align: center;
}