@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-white: #fff;
    --color-brand: #ff5353;
    --color-red: #eb4034;
    --color-light-gray: #aaa;
    --color-border: #222;
    --color-black: #000;
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-black);
    color: var(--color-white);
    position: relative;
}

.label {
    color: var(--color-light-gray);
    margin-bottom: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    border: none;
    color: var(--color-white);
    border: 1px solid var(--color-border);
}

.button {
    width: fit-content;
    outline: none;
    border: 1px solid var(--color-brand);
    border-radius: 10px;
    background-color: var(--color-brand);
    color: var(--color-black);
    box-sizing: border-box;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    display: block;
}

.buttonSecondary {
    background-color: var(--color-transparent);
    border: 1px solid var(--color-brand);
    color: var(--color-brand);
}

.error {
    color: var(--color-red);
}

.spacer {
    margin-top: 40px;
}

.smallSpacer {
    margin-top: 20px;
}

.center {
    width: fit-content;
    margin: 0 auto;
}

.card {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.text {
    color: var(--color-light-gray);
}